/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";
body { 
    margin: auto;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    color: white;
    background-color: dimgray;
}
#logo
{
    border-radius: 75%;
    border: 3px outset grey;
    filter: drop-shadow(10px 7px 4px black);
}